/backup/
/versions/
/cache/
/logs/
/crash-reports/
/libraries/
/world
/world/
/world_nether/
/world_the_end/

/plugins/
/mods/

/banned-ips.json
/banned-players.json
/ops.json
/whitelist.json
/usercache.json
/version.json

/.console_history
/help.yml
/bukkit.yml
/commands.yml
/paper.yml
/spigot.yml
/permissions.yml
/version_history.json

/server.properties
/server-icon.png

/server.jar
/server-*.jar

/__pycache__/
/.vscode/
